<h1>Olá {{name}}</h1>
<p> Você solicitou uma recuperação da sua senha. Clique no link abaixo para cadastrar uma nova senha: </p>
<a href={{link}} > Registrar nova senha </a>

<p> Caso não tenha solicitado a recuperação, descarte esse e-mail </p>
